{% extends "practice/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <audio id="audioPlayer" loop controls autoplay>
        <source src="{% static 'practice/MeditationDeThais.mp3' %}" type="audio/mp3">
    </audio>
<div class="cover-page">
    <h1 id="title" class="clickering">Typing Game</h1>
    <p style="color:white;font-size:1.4rem;text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);">Learn whatever article or lyric you like with peaceful background music!</p>
    {% if user.is_authenticated %}
    <div class="shortcut">
        <a href="{% url 'list' type='myList' %}" class="cs_button">Browse</a>
        <a href="{% url 'add' %}" class="cs_button">Add</a>
    </div>
    {% endif %}
</div>
</div>
    
{% endblock %}
